<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Muli" rel="stylesheet">
</head>
<body>
  <header class="slide">
    <div class="card">
        
        <h1>Julia <span class="ital">&</span> Joel</h1>
        <h2>are celebrating their marriage!</h2>

        <div class="bars">
          <hr>
          <hr>
          <hr>
        </div>

        <nav class="nav">
          <a href="schedule" class="nav-item">Schedule</a>
          <a href="location" class="nav-item">Where to stay</a>
          <a href="boston" class="nav-item">What to do</a>
          <a href="contact" class="nav-item">Registry & Contact</a>
        </nav>

        <div class="btn rsvp"><span>RSVP</span></div>
    </div>
  	
  </header>

  <section class="slide" id="flights"></section>
  <section class="slide" id="rsvp"></section>
  <section class="slide" id="details"></section>
  <section class="slide" id="location"></section>
  <section class="slide" id="boston"></section>

  <script src="bundle.js"></script>
</body>
</html>