<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:300,400,600" rel="stylesheet">
</head>
<body>
  <header class="slide">
    <div class="bg-group">
      
    </div>
    <div class="card">
        <div class="flower"></div>
        <h1>Julia <span class="ital">&</span> Joel</h1>
        <h2>are celebrating their marriage!</h2>

        <div class="bars">
          <hr>
          <hr>
          <hr>
        </div>

        <nav class="nav">
          <a href="#schedule" class="nav-item">Schedule</a>
          <a href="#location" class="nav-item">Where to stay</a>
          <a href="#boston" class="nav-item">What to do</a>
          <a href="#contact" class="nav-item">Registry & Contact</a>
        </nav>

        <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  	
  </header>

  <section class="slide" id="schedule">
    <div class="card">
      <h1>Schedule</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="location">
    <div class="card">
      <h1>Where to stay</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="boston">
    <div class="card">
      <h1>What to do</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="contact">
    <div class="card">
      <h1>Registry & Contact</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="rsvp">
    <div class="card">
      <h1>RSVP</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>

      <form id="rsvp-form" action="">
        
      </form>
    </div>
  </section>

  <script src="bundle.js"></script>
</body>
</html>