<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:300,400,600" rel="stylesheet">
</head>
<body>
  <header class="slide">
    <div class="bg-group">
      
    </div>
    <div class="card">
        <h1>Julia <span class="ital">&</span> Joel</h1>
        <h2>are celebrating their marriage!</h2>
        
        <div class="bars">
          <hr>
          <hr>
          <hr>
        </div>
        <h4>July 6<sup>th</sup> 2019 in Newton, MA</h4>
        <h3 class="ital">We hope you can join us</h3>
        <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>

        <nav class="nav">
          <a href="#schedule" class="link-schedule nav-item">
            <span class="link-text">Schedule</span> 
            <span class="link-fill"></span>
          </a>
          <a href="#location" class="link-location nav-item">
            <span class="link-text">Where to stay</span> 
            <span class="link-fill"></span>
          </a>
          <a href="#boston" class="link-boston nav-item">
            <span class="link-text">What to do</span> 
            <span class="link-fill"></span>
          </a>
          <a href="#contact" class="link-contact nav-item">
            <span class="link-text">Registry & Contact</span> 
            <span class="link-fill"></span>
          </a>
        </nav>

        
    </div>
  	
  </header>

  <section class="slide" id="schedule">
    <div class="card">
      <h1>Schedule</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
      <div class="column-grid">
        <div class="column friday">
          <h2>Friday, July 5<sup>th</sup></h2>
          <div class="event">
            <h4>7 p.m.</h4>
            <h3>Rehearsal Dinner</h3>
            <p>Alice & Richard's house</p>
            <p>31 Arlo Rd, Newton, MA</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.1081123254885!2d-71.22610498454503!3d42.31889277918971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3823961668943%3A0x95b7351c16fd2599!2s31+Arlo+Rd%2C+Newton%2C+MA+02464!5e0!3m2!1sen!2sus!4v1546711621239" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="column saturday">
          <h2>Saturday, July 6<sup>th</sup></h2>
          <div class="event">
            <h4>6 p.m.</h4>
            <h3>Ceremony & Reception</h3>
            <p>The Endicott Estate</p>
            <p>656 East St, Dedham, MA</p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11815.315904169236!2d-71.163614!3d42.2394666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13b84f411eda0ada!2sEndicott+Estate!5e0!3m2!1sen!2sus!4v1546711882065" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="event">
            <h4>11 p.m.</h4>
            <h3>After Party</h3>
            <p>Hotel Indigo</p>
            <p>399 Grove St, Newton, MA</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.401611654707!2d-71.25441909999999!3d42.3339602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e383ba69fea8f3%3A0xd340c878a4e20c8a!2sHotel+Indigo+Boston+-+Newton+Riverside!5e0!3m2!1sen!2sus!4v1546712342718" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="column sunday">
            <div class="event">
            <h2>Sunday, July 7<sup>th</sup></h2>
            <h4>10 a.m.</h4>
            <h3>Brunch</h3>
            <p>Hotel Indigo</p>
            <p>399 Grove St, Newton, MA</p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11815.315904169236!2d-71.163614!3d42.2394666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13b84f411eda0ada!2sEndicott+Estate!5e0!3m2!1sen!2sus!4v1546711882065" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slide" id="location">
    <div class="card">
      <h1>Where to stay</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="boston">
    <div class="card">
      <h1>What to do</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="contact">
    <div class="card">
      <h1>Registry & Contact</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>
    </div>
  </section>

  <section class="slide" id="rsvp">
    <div class="card">
      <h1>RSVP</h1>
      <a class="btn rsvp" href="#rsvp"><span>RSVP</span></a>

      <form id="rsvp-form" action="">
        
      </form>
    </div>
  </section>

  <script src="bundle.js"></script>
</body>
</html>