$green: #b6d034;
$navy: #1b3977;
$blue: #5762ab;
$lavender: #987ab6;
$purple: #987ab6;
$pink:#e84d81;
$red: #eb565d;
$orange: #efa949;
$yellow: #f0d775;
$grey: #ededed;

$header: 'Libre Baskerville', serif;
$body: 'Montserrat', sans-serif;

/* General stuff */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family:$body;
}

body, h1, h2, h3, h4, ul{
	margin:0;
	padding:0;
}

// Dynamic colors
.color-1{
  background-color:$green;
}
.color-2{
  background-color:$navy;
}
.color-3{
  background-color:$blue;
}
.color-4{
  background-color:$lavender;
}
.color-5{
  background-color:$purple;
}
.color-6{
  background-color:$pink;
}
.color-7{
  background-color:$grey;
}
.color-8{
  background-color:$orange;
}
.color-9{
  background-color:$yellow;
}
.color-10{
  background-color:$red;
}

.slide{
	min-height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-repeat: no-repeat;
  overflow:hidden;
}

.card{
	background:$grey;
	min-height:80vh;
	min-width:50vw;
  padding:50px;
	width:80%;
  position:relative;
  z-index: 2;
}

// Typography
h1{
  font-size: 60px;
  margin: 0px auto;
  font-weight:200;
  width:100%;
  font-family:$header;
  color:$navy;
}
.ital{
  font-style: italic;
  font-family: $header; 
}
h2{
  font-family:$body;
  font-size: 32px;
  font-weight:200;
  width:100%;
}

h3 {
  margin: 0px auto;
}

h4 {
  font-variant-numeric: tabular-nums;
}


// Header
header {
  background: $red;
  font-family: $header; 
  text-align: center;
  color:$navy;
  h1{
  	font-size: 70px;
  	margin: 0px auto;
  	font-weight:200;
  	width:100%;
  	font-family:$header;
  }
  .ital{
    font-style: italic;
    font-family: $header; 
  }
  h2{
  	font-family:$body;
  	font-size: 32px;
  	font-weight:200;
  	width:100%;
  }
  h3, h4 {
    width: 100%;
  }
  .card{
  	box-shadow: 5px 4px 8px 1px darken($red,20%);
  	display: flex;
  	flex-wrap: wrap;
  	padding: 120px 50px;
    overflow:hidden;
  }

  .nav{
  	// width: 100%;
  	display: flex;
  	justify-content: space-between;
  	margin:0 auto 25px;
  	.nav-item{
  		text-decoration: none;
  		color:$navy;
  		font-size:20px;
      transition:all 0.25s;
      margin:0 40px;
  	}
    .nav-item:hover{
      transform:scale(0.9);
      transition:all 0.25s;
      color:darken($navy, 15%);
    }
  }

  .nav-item{
    position:relative;
    .link-text{
      position:relative;
      z-index: 5;
      padding:20px 5px;
    }
    &:hover{
      .link-text{
        color:white;
      }
      .link-fill{
        width:600px;
        height:600px;
        transition: width 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-property: width, height;
      }
    }
    .link-fill{
      background:$blue;
      position:absolute;
      pointer-events: none;
      display: block;
      width:0px;
      height:0px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-property: width, height;
      opacity:0.8;
    }

    &.link-location{
      .link-fill{
        background: $yellow;
      }
    }

    &.link-boston{
      .link-fill{
        background: $pink;
      }
    }

    &.link-contact{
      .link-fill{
        background: $purple;
      }
    }
  }

}

.btn{
  width:100%;
  text-decoration: none;
  span{
    width:120px;
    background:$red;
    color:white;
    cursor:pointer;
    padding:10px;
    font-size:25px;

  }
}


section .btn{
  position: absolute;
  top:30px;
  right:20px;
  width:auto;
}

.bars{

	width: 100%;
	margin:20px auto;
	hr{
		width:40%;
		border-width: 0.5px;
		border-color:$red;
	}
}


// Background
.bg-group{
  display: flex;
  width:100vw;
  flex-wrap: wrap;
  position:absolute;
  z-index:1;
  top:0px;
  overflow: hidden;

  &:hover .confetti{
    /*&.color-1, &.color-6 {
        animation: rotating .5s infinite;
      }

      &.color-2, &.color-7 {
        animation: rotating .8s infinite;
      }

      &.color-3, &.color-8 {
        animation: rotating 1s infinite;
      }*/

      // &.color-4, &.color-9 {
      //   animation: rotating .2s infinite;
      // }

      // &.color-5, &.color-10 {
      //   animation: rotating .1s infinite;
      // }

      // &.color-5 {
      //   animation: rotating 0.8s infinite;
      // }
  }
}
.confetti{
  margin:0px 31px;
  width:5px;
  height:20px;
  border-radius:500px;
  transform:rotate(45deg);
  &:hover{
   
  }

  &:nth-child(even){
    height:40px;
  }

  &.color-1, &.color-6 {
    transform:rotate(30deg);
  }

  &.color-2, &.color-7 {
    transform:rotate(10deg);
  }

  &.color-3, &.color-8 {
    transform:rotate(120deg);
  }

  &.color-4, &.color-9 {
    transform:rotate(90deg);
  }

  &.color-5, &.color-10 {
    transform:rotate(60deg);
  }

  &.color-5 {
    transform:rotate(200deg);
  }
  
}


.diamond{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  transform: rotate(45deg);
  margin:10px;
  opacity:1;
  opacity:0.5;
  transition:all 0.25s;

  &:hover{
    opacity: 1;
  }

  &:nth-child(even){
    width: 20px;
    height: 20px;
    margin-top:15px;
  }

  &:nth-child(5n+1):hover, &.sparkle{
    background:$yellow;
  }

  &:nth-child(5n+2):hover, &.sparkle{
    background:$red;
  }

  &:nth-child(5n+3):hover, &.sparkle{
    background:$purple;
  }

  &:nth-child(5n+4):hover, &.sparkle{
    background:$pink;
  }

  &:nth-child(5n+5):hover, &.sparkle{
    background:$orange;
  }
}

.btn {
  margin: 20px;
}

//cards

.column {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.event {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.text {
  width: 30%;
  min-width: 270px;
  margin-right: 20px;
}

.map {
  width: 100%;
  max-width: 500px;
}
// flights
.slide{

}
#schedule, #schedule .btn span{
	background-color:$blue;
  .card{
    box-shadow: 5px 4px 8px 1px darken($blue,10%);
  }
}

// rsvp
#location, #location .btn span{
	background-color:$yellow;
  .card{
    box-shadow: 5px 4px 8px 1px darken($yellow,20%);
  }
}

// details
#boston, #boston .btn span{
	background-color:$pink;
  .card{
    box-shadow: 5px 4px 8px 1px darken($pink,20%);
  }
}

// location
#contact, #contact .btn span{
	background-color:$purple;
  .card{
    box-shadow: 5px 4px 8px 1px darken($purple,20%);
  }
}

// boston
#rsvp, #rsvp .btn span{
	background-color:$red;
  .card{
    box-shadow: 5px 4px 8px 1px darken($red,20%);
  }
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


