$green: #b6d034;
$navy: #1b3977;
$blue: #4665fd; //#5762ab
$lavender: #987ab6;
$aquamarine: #46fdca;
$magenta:#e347d1;
$pink: #eb565d;
$orange: #efa949;
$yellow: #f0d775;
$grey: #ededed;

$header: 'Libre Baskerville', serif;
$body: 'Montserrat', sans-serif;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

/* General stuff */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family:$body;
}

body, h1, h2, h3, h4, ul, p{
	margin:0;
	padding:0;
}

// Dynamic colors
.color-1{
  background-color:$green;
}
.color-2{
  background-color:$navy;
}
.color-3{
  background-color:$blue;
}
.color-4{
  background-color:$lavender;
}
.color-5{
  background-color:$aquamarine;
}
.color-6{
  background-color:$magenta;
}
.color-7{
  background-color:$grey;
}
.color-8{
  background-color:$orange;
}
.color-9{
  background-color:$yellow;
}
.color-10{
  background-color:$pink;
}

.slide{
	min-height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-repeat: no-repeat;
  overflow:hidden;
  padding:50px 0;
  @media #{$mobile} {
    padding:10px 0;
  }
}

.card{
	background:$grey;
	min-height:80vh;
	min-width:50vw;
  padding:50px;
	width:80%;
  position:relative;
  z-index: 2;
  @media #{$mobile} {
    padding:15px;
    width:95%;
  }
}

// Typography
h1{
  font-size: 60px;
  margin: 0px auto;
  font-weight:200;
  width:100%;
  font-family:$header;
  color:#222;
  @media #{$mobile} {
    font-size: 40px;
    text-align: center;
    margin:20px 0;
  }
}
.ital{
  font-style: italic;
  font-family: $header; 
  margin-top:8px;
  line-height:1.4;
}
h2{
  font-family:$body;
  font-size: 32px;
  font-weight:200;
  width:100%;
  text-align: center;
  @media #{$mobile} {
    font-size: 28px;
  }
}

h3 {
  margin: 0px auto 10px;
}

h4 {
  font-variant-numeric: tabular-nums;
}


// Header
header {
  background: $pink;
  font-family: $header; 
  text-align: center;
  color:$navy;
  .btn{
    @media #{$mobile} {
      display: block;
    }
  }
  h1{
  	font-size: 70px;
  	margin: 0px auto;
  	font-weight:200;
  	width:100%;
  	font-family:$header;
    color:$navy;
    @media #{$mobile} {
      font-size: 45px;
    }
  }
  .ital{
    font-style: italic;
    font-family: $header; 
  }
  h2{
  	font-family:$body;
  	font-size: 32px;
  	font-weight:200;
  	width:100%;
    @media #{$mobile} {
      font-size: 25px;
    }
  }
  h3, h4 {
    width: 100%;
    font-weight: 200;
    font-size: 23px;
    line-height: 1.6;
    @media #{$mobile} {
      font-size: 18px;
    }
  }
  .card{
  	box-shadow: 5px 4px 8px 1px darken($pink,20%);
  	display: flex;
  	flex-wrap: wrap;
  	padding: 80px 50px;
    @media #{$mobile} {
      padding: 50px 50px;
    }
    overflow:hidden;
  }

  .nav{
  	// width: 100%;
  	display: flex;
  	justify-content: space-between;
  	margin:0 auto 25px;
    @media #{$mobile} {
      display: block;
    }
  	.nav-item{
  		text-decoration: none;
  		color:$navy;
  		font-size:20px;
      transition:all 0.25s;
      margin:0 40px;
      @media #{$mobile} {
        display: block;
        margin:10px 0;
        font-size:18px;
      }
  	}
    .nav-item:hover{
      transform:scale(0.9);
      transition:all 0.25s;
      color:darken($navy, 15%);
    }
  }

  .nav-item{
    position:relative;
    .link-text{
      position:relative;
      z-index: 5;
      padding:20px 5px;
    }
    &:hover{
      .link-text{
        
        @media #{$desktop} {
          color:white;
        }
      }
      .link-fill{
        width:600px;
        height:600px;
        transition: width 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-property: width, height;
        @media #{$mobile} {
          display: none;
        }
      }
    }
    .link-fill{
      background:$blue;
      position:absolute;
      pointer-events: none;
      display: block;
      width:0px;
      height:0px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-property: width, height;
      opacity:0.8;
      @media #{$mobile} {
        display: none;
      }
    }

    &.link-location{
      .link-fill{
        background: $magenta;
      }
    }

    &.link-boston{
      .link-fill{
        background: $yellow;
      }
    }

    &.link-contact{
      .link-fill{
        background: $green;
      }
    }
  }

}

.btn{
  width:100%;
  text-decoration: none;
  @media #{$mobile} {
    display: none;
  }
  span{
    width:120px;
    background:$pink;
    color:white;
    cursor:pointer;
    padding:10px;
    font-size:25px;

  }
}


section .btn{
  position: absolute;
  top:30px;
  right:20px;
  width:auto;
}

.bars{

	width: 100%;
	margin:20px auto;
	hr{
		width:40%;
		border-width: 0.5px;
		border-color:$pink;
	}
}


// Background
.bg-group{
  display: flex;
  width:100vw;
  flex-wrap: wrap;
  position:absolute;
  z-index:1;
  top:0px;
  overflow: hidden;

  &:hover .sparkle{
    opacity: 1;
  }

  // &:hover .spin{
  //   animation: rotating 1s infinite;
  //   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // }

  &:hover .confetti{

    &.color-1, &.color-6 {
        animation: rotating .5s infinite;
      }

      &.color-2, &.color-7 {
        animation: rotating .8s infinite;
      }

      &.color-3, &.color-8 {
        animation: rotating 1s infinite;
      }

      &.color-4, &.color-9 {
        animation: rotating .2s infinite;
      }

      &.color-5, &.color-10 {
        animation: rotating .1s infinite;
      }

      &.color-5 {
        animation: rotating 0.8s infinite;
      }
  }
}
.confetti{
  margin:0px 31px;
  width:5px;
  height:20px;
  border-radius:500px;
  transform:rotate(45deg);
  &:hover{
   
  }

  &:nth-child(even){
    height:40px;
  }

  &.color-1, &.color-6 {
    transform:rotate(30deg);
  }

  &.color-2, &.color-7 {
    transform:rotate(10deg);
  }

  &.color-3, &.color-8 {
    transform:rotate(120deg);
  }

  &.color-4, &.color-9 {
    transform:rotate(90deg);
  }

  &.color-5, &.color-10 {
    transform:rotate(60deg);
  }

  &.color-5 {
    transform:rotate(200deg);
  }
  
}



.diamond{
  width: 30px;
  height: 30px;
  border: 1px solid $magenta;
  transform: rotate(45deg);
  opacity:1;
  opacity:0.5;

  

  &:nth-child(even){
    transform: rotate(60deg);
  }

  &:nth-child(5n+1){
    border-color:white;
    opacity:0.3;
  }

  /*&:nth-child(5n+1){
    border-color:$yellow;
  }

  &:nth-child(5n+2){
    border-color:$pink;
  }

  &:nth-child(5n+3){
    border-color:$aquamarine;
  }

  &:nth-child(5n+4){
    border-color:$magenta;
  }

  &:nth-child(5n+5){
    border-color:$orange;
  }*/
}

.btn {
  margin: 20px;
}

//cards
.column-grid{
  text-align:center;
}

.column {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin-bottom: 20px;


}

.column-two {
    width: 100%;
    max-width: 450px;
}

.column-three{
  max-width: 400px;
  display: inline-block;
  vertical-align: top;
}

.event {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin:5px;
  border:1px solid $blue;
  min-height:450px;
  align-items: center;
  h2{
    padding: 0 0 6px 0;
    max-width:780px;
    margin:50px auto 0;
  }
}

.event-large{
  border: none;
  min-height: auto;
}

.text {
  width: 30%;
  min-width: 300px;
  margin-right: 20px;
  text-align:left;
  margin-top:-15px;
}

.map {
  width: 100%;
  max-width: 199px;
  margin: 20px;
  iframe{
    border: 3px solid #ff4141 !important;
    transform: rotate(-10deg);
    filter: hue-rotate(236deg) saturate(5);

  }

  &.reverse iframe{
    transform:rotate(10deg);
  }

  &.no-tilt iframe{
    transform: rotate(0deg);
  }
}

.item{
  padding: 20px;
  border: 21px solid #afd300;
}
// Schedule

#schedule, #schedule .btn span{
	background-color:$blue;

  .bold{
    color:$blue;
  }
  .card{
    box-shadow: 5px 4px 8px 1px darken($blue,10%);
  }

  h2{
    color: $blue;
  }

  
}

// rsvp
#location, #location .btn span, #boston{
	background-color:$magenta;
  .card{
    box-shadow: 5px 4px 8px 1px darken($magenta,20%);
  }

  .map{
    margin-right:60px;
    margin-top:70px;
    max-width:500px;
    iframe{
      filter: hue-rotate(274deg) saturate(5);
    }
  }

  h2{
    text-align:left;
    @media #{$mobile} {
      text-align: center;
    }
  }

  h2, h3, a{
    color: $magenta;

  }

  .column-three{
    margin-right: 10px;

    @media #{$mobile} {
      margin: 0 auto;
      display: block;
    }

    .event{
      min-height: 290px;
      align-items: start;
      padding-top: 25px;
      border-color:$magenta;
      box-shadow: 1px 1px 0 1px $magenta;
    }

    .text{
      margin-top:0;
    }

  }
  p{
      margin-bottom:10px;
    }
}

$bolt-color: $yellow;
.lightning {
    position: relative;
    height: 50px;
    width: 50px;
    left:-20px;
    transform: scale(0.1);
    opacity: 0.5;

    &:nth-child(even){
      left:-30px;
      top:10px;
    }

    .above, .below {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 100px;
    }

    .toptri {
        position: absolute;
        height: 196px;
        width: 0px;
        padding: 0px;
        top: -175px;
        left: 300px;
        -webkit-transform: rotate(0deg) skew(141deg);
        transform: rotate(0deg) skew(141deg);
        border-top: 0px transparent;
        border-left: 0px solid transparent;
        border-right: 128px solid transparent;
        border-bottom: 284px solid $bolt-color;
        -webkit-transform: rotate(350deg) skew(141deg);
        transform: rotate(350deg) skew(141deg);
    }

    .bottri {
        position: absolute;
        height: 200px;
        width: 0px;
        padding: 0px;
        top: 119px;
        left: 147px;
        -webkit-transform: rotate(0deg) skew(141deg);
        transform: rotate(0deg) skew(141deg);
        border-top: 0px transparent;
        border-left: 0px solid transparent;
        border-right: 118px solid transparent;
        border-bottom: 320px solid $bolt-color;
        -webkit-transform: rotate(170deg) skew(141deg);
        transform: rotate(175deg) skew(141deg);
    }
}

// details
#boston, #boston .btn span{
	background-color:$yellow;
  .card{
    box-shadow: 5px 4px 8px 1px darken($yellow,20%);
  }

  .bg-group{
    height:100%;
  }

  .map iframe{
    filter: hue-rotate(0deg) saturate(5);
    border: 3px solid #f3d762 !important;
  }

  h2, a{
    color:$blue;
  }
}

.ocean { 
  height: 5%;
  width:100%;
  margin-top:-30px;
  @media #{$mobile} {
    display: none;
  }
  &.reverse{
    .wave{
      margin-left:-2000px;
      &.animate{
        // animation: wave-reverse 19s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
      }
    }
  }
}


.wave{
  background-color:transparent;
  fill:#fff;
  background-size:100px;
  width: 500%;
  opacity: 0.3;
  height: 167px;
  background-repeat:repeat;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st1{fill:rgba(255,255,255,1)} %3C/style%3E%3Cpath style='fill:none;stroke:rgba(255,255,255,1);stroke-width:50;stroke-miterlimit:10' d='M-44-184l83 92 83-92 83 92 83-92 83 92 83-92 83 92 83-92'/%3E%3Cpath class='st1' d='M.8 500L-101 387.4l37.2-33.5L.8 425.4l83.1-92 83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.5 37.2 33.5L499.8 500l-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92zM.8 333.3L-101 220.7l37.2-33.4L.8 258.7l83.1-92 83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.4 37.2 33.4-101.8 112.6-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92zM.8 166.6L-101 54.1l37.2-33.5L.8 92 83.9 0l83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.4 37.2 33.5-101.8 112.5-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92z'/%3E%3C/svg%3E");
  &.animate{
    animation: wave 45s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave-reverse {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


// Contact & Rsvp
#contact, #contact .btn span{
	background-color:$green;
  .card{
    box-shadow: 5px 4px 8px 1px darken($green,20%);
  }

  .dot{
    background:white;
    width:4px;
    height:4px;
    border-radius: 50%;
    opacity: 0.6;
    margin: 22px 25px;
    &.large{
      width:8px;
      height: 8px;
      margin-top: 14px;
    }
    &.pulse .radar{
      width: 10px;
      height: 10px;
      background-color: transparent;
      position: relative;
      left: 50%;
      margin-left: -4px;
      top: 50%;
      margin-top: -4px;
      border-radius: 50%;
      border: 2px solid white;
      animation: ping 2s infinite;
      -webkit-animation: ping 2s infinite;
      -webkit-transition: all ease-in-out;
      transition: all ease-in;
    }
  }

  .flex-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
    justify-content: space-between;
  }

  .text{
    margin-top:0;
  }

  p{
    margin: 10px 0;
  }

  a{
    color:$magenta;
  }
}

// Rsvp
#rsvp {
	background-color:$pink;
  .card{
    box-shadow: 5px 4px 8px 1px darken($pink,20%);
  }
}

#rsvp .btn span {
  display: none;
}

.heart {
  position: relative;
  width: 56px;
  height: 50px;
  opacity: 0.2;
  transition: all 0.25s;
  &:hover, &.sparkle{
    opacity:1;
    transition: all 1s;
  }
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 21px;
  height: 35px;
  background: white;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


// Animations 
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes ping {
  1% {
    width: 5px;
    height: 5px;
    border-color: white;
    opacity: 1;
  }
  100% {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    border-color: white;
    opacity: 0;
  }
}


